.filter-btn {
  width: 32px;
  height: 32px;
  opacity: 0.75;
}

.filter-btn:hover {
  opacity: 1;
}

.filter-pop {
  padding: 0.75rem 0.9rem;
  width: 260px;
}

.filter-field {
  width: 100%;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
